#board {
  display: flex;
  flex-wrap: wrap;
  width: 405px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  margin-top: 110px;
}
.carre {
  display: flex;
  background-color: rgb(136,174,136);
  color: white;
  height: 200px;
  width: 200px;
  margin-bottom: 5px;
  font-family: "Times New Roman";
  font-size: 20px;  
  justify-content: center;
  align-items: center;
 
}
.carre.clicked {
  background-color: rgb(229, 21, 21);
  animation: clicked 3s ;
}
@keyframes clicked{
 
    100% {
      transform: rotate(360deg);
      height: 180px;
      width: 180px;
    }       
}
